*{
    margin: 0;
    padding: 0;
}

body {background-color: #102b3f;}

.transition-1{
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 101;
    background-color: black;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
}

.transition-1.is-active{
    opacity: 1;
    pointer-events: all;
}


.nav-links{
    flex: 1;
    text-align: left;
    background-color: #333;
    overflow: hidden;
    padding: 13px 10px;
    border-bottom:2px solid black;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 4px 20px;
    position: relative;
}   

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat';
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.home-text{
    width: calc(100% - 10em);
    color: #fff;
    position: relative;
    top: 1em;
    left: 3em;
}


.home-text h1{
    font-size: 50px;
    padding: 25px;
    font-family: 'Montserrat';
    margin-left: 325px;
}

.home-text p{
    margin-top: 30px;
    font-size: 20px;
    padding: 22px;
    font-family: 'Roboto';
}

.home-text ul li{
    font-family: 'Montserrat';
    display: inline-block;
    font-size:25px;
}

.footer{position: fixed;
        bottom: 0;
        width: 100%;
        flex: 1;
        text-align: left;
        background-color: #333;
        overflow: hidden;
        line-height: 1.8;
        text-align: center;
        color: #fff;
        border-top:2px solid black;
        font-family: 'Montserrat';
}

.math{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.picture-of-me{
    overflow: hidden;
    float: left;
    margin-right: 3em;
    margin-bottom: 1em;
}


.picture-of-me img{
    display: block;
    border-radius: 200px;
    box-sizing: border-box;
    border: 2px solid black;
}

.picture-of-me ul{
    margin-left: 6.2em;
    margin-top: 1em;
    list-style-type: none;
}

.picture-of-me ul li{
    padding: 7px;
}

.contact-form h1{
    color: #fff;
    text-align: center;
    font-size: 35px;
    font-family: 'Montserrat';
    padding-top: 40px;
    padding-bottom: 30px;
}

.contact-form input{
    background-color: white;
    width: 50%;
    font-size: 20px;
    margin-left: 23.5%;
    padding: 16px;
    border-radius: 2px;
    border-color: black;
    margin-bottom: 25px;
    font-family: 'Roboto';
}

.contact-form textarea{
    background-color: white;
    width: 50%;
    margin-left: 23.5%;
    font-size: 20px;
    padding: 16px;
    border-radius: 2px;
    border-color: black;
    margin-bottom: 45px;
    font-family: 'Roboto';
}

.contact-form button{
    background-color: white;
    border-radius: 2px;
    border-color: black;
    font-size: 22px;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    margin: auto;
}

.contact-form button:hover{
    opacity: 50%;
    cursor: pointer;
    transition: 0.5s;
}

.alt-contact p{
    color: #fff;
    text-align: center;
    margin-top: 80px;
    font-size: 18px;
    font-family: 'Roboto';
}

.alt-contact a{
    color: white;
}

.alt-contact a:hover{
    background-color: black;
    transition: 0.5s;
}

.home-text a{
    color: white;
}

.home-text a:hover{
    background-color: black;
    transition: 0.5s;
    transform: scale(1.08);
}

.math-under{
    text-decoration: underline
}

.math-bookshelf{
    color: #fff;
    margin-left: 4em;
    margin-top: 1em;
    margin-right: 5em;
    font-size: 18px; 
}

.math-bookshelf h1{
    padding: 5px;
    font-size: 35px;
    font-family: 'Montserrat';
}

.math-bookshelf p{
    padding: 5px;
    font-family: 'Roboto';
}

.math-bookshelf ul li{
    padding: 5px;
    font-family: 'Roboto';
}

.math-talks{
    color: #fff;
    margin-left: 4em;
    margin-top: 1em;
    margin-right: 5em;
    font-size: 18px;
}

.math-talks h1{
    padding: 5px;
    font-size: 35px;
    font-family: 'Montserrat';
}


.math-talks ul li{
    padding: 5px;
    font-family: 'Roboto';
}

.math-talks ul li a{
    color: #fff;
}

.math-talks ul li a:hover{
    background-color: black;
    transition: 0.5s;
}

.math-essays{
    color: #fff;
    margin-top: 1em;
    margin-left: 4em;
    margin-right: 5em;
    font-size: 18px;
}

.math-essays h1{
    padding: 5px;
    font-size: 35px;
    font-family: 'Montserrat';
}

.math-essays ul li{
    padding: 5px;
    font-family: 'Roboto';
}

.math-essays ul li a{
    color: #fff;
    font-family: 'Roboto';
}

.math-essays ul li a:hover{
    background-color: black;
    transition: 0.5s;
}

.teaching-text{
    color: #fff;
    margin-left: 4em;
    font-size: 18px;
    margin-top: 2em;
    font-family: 'Roboto';
    padding: 5px;
}

.teaching-text a{
    color: #fff;
}

.teaching-text a:hover{
    background-color: black;
    transition: 0.5s;
}

.personal-reading{
    color: #fff;
    margin-left: 4em;
    font-size: 18px;
    margin-top: 2em;
    font-family: 'Roboto';
    padding: 5px;
}

.personal-reading h1{
    padding: 5px;
    font-size: 35px;
    font-family: 'Montserrat';
}

.personal-reading p{
    padding: 5px;
    font-family: 'Roboto';
}

.personal-reading ul{
    padding: 5px;
    font-family: 'Roboto';
}

.personal-epsilon{
    color: #fff;
    margin-left: 4em;
    font-size: 18px;
    margin-top: 2em;
    font-family: 'Roboto';
    padding: 5px;
}

.personal-epsilon h1{
    padding: 5px;
    font-size: 35px;
    font-family: 'Montserrat';
}

.personal-epsilon p{
    padding: 5px;
}

.personal-epsilon img{
    border-radius: 10%;
    border: 2px solid black;
}