*{
    margin: 0;
    padding: 0;
}

body {background-color: hsla(209, 90%, 24%, 0.781);}

.nav-links{
    flex: 1;
    text-align: left;
    background-color: #333;
    overflow: hidden;
    padding: 13px 10px;

}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 4px 20px;
    position: relative;
}   

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.home-text{
    width: calc(100% - 10em);
    color: #fff;
    position: relative;
    top: 2em;
    font-family: "Lato", non-serifs;
    left: 5em;
}

.home-text h1{
    font-size: 50px;
    padding: 25px;
}

.home-text p{
    font-size: 20px;
    padding: 22px;
}


.math{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

.picture-of-me{
    overflow: hidden;
    float: left;
    margin-right: 3em;
    margin-bottom: 1em;
}

.picture-of-me ul{
    margin-left: 7em;
    margin-top: 1em;
    list-style-type: none;
}

.picture-of-me ul li{
    padding: 7px;
}

.contact-form h1{
    color: #fff;
    text-align: center;
    font-size: 50px;
    font-family: "Lato", non-serifs;
    padding-top: 40px;
    padding-bottom: 30px;
}

.contact-form input{
    background-color: white;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 25px;
    font-family: "Lato", non-serifs;
}

.contact-form textarea{
    background-color: white;
    width: 70%;
    margin-left: 12%;
    font-size: 20px;
    padding: 16px;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 45px;
    font-family: "Lato", non-serifs;
}

.contact-form button{
    background-color: white;
    border-radius: 20px;
    border-color: black;
    font-size: 22px;
    padding: 10px 18px;
    text-align: center;
    display: flex;
    margin: auto;
}

.contact-form button:hover{
    opacity: 70%;
    cursor: pointer;
    transition: 0.5s;
}

.alt-contact p{
    color: #fff;
    text-align: center;
    margin-top: 80px;
    font-size: 18px;
    font-family: "Lato", non-serifs;
}

.alt-contact a{
    color: white;
}

.alt-contact a:hover{
    background-color: #333;
    transition: 0.5s;
}

.home-text a{
    color: white;
}

.home-text a:hover{
    background-color: #333;
    transition: 0.5s;
}

.math-talks{
    color: #fff;
    margin-left: 4em;
    margin-top: 3em;
    margin-right: 5em;
    font-family: "Lato", non-serifs;
    font-size: 18px;
}

.math-talks h1{
    padding: 5px;
    font-size: 30px;
}

.math-talks ul li{
    padding: 5px;
}

.math-talks ul li a{
    color: #fff;
}

.math-talks ul li a:hover{
    background-color: #333;
    transition: 0.5s;
}

.math-essays{
    color: #fff;
    margin-top: 1em;
    margin-left: 4em;
    margin-right: 5em;
    font-family: "Lato", non-serifs;
    font-size: 18px;
}

.math-essays h1{
    padding: 5px;
    font-size: 30px;
}

.math-essays ul li{
    padding: 5px;
}

.math-essays ul li a{
    color: #fff;
}

.math-essays ul li a:hover{
    background-color: #333;
    transition: 0.5s;
}

.math-current{
    color: #fff;
    margin-top: 1em;
    margin-left: 4em;
    margin-right: 30em;
    font-family: "Lato", non-serifs;
    font-size: 18px;
}


.math-current h1{
    padding: 5px;
    font-size: 30px;
}